{% extends 'app1/base.html' %}
{% load static %}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% block body %}
<div class="container">
    <form method="post" action="{% url 'bank_account_holder_create' %}" class="form-style" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <h2>Bank Account Holder Form</h2>
                {% for field in bank_account_holder_form %}
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">{{ field.label }}</label>
                        <div class="col-sm-8">
                            {{ field }}
                            <style>
                                #{{ field.auto_id }} {
                                    background-color: #2f516f;
                                    color: white;
                                }
                            </style>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <h2>Bank Account Form</h2>
                {% for field in bank_account_form %}
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">{{ field.label }}</label>
                        <div class="col-sm-8">
                            {{ field }}
                            <style>
                                #{{ field.auto_id }} {
                                    background-color: #2f516f;
                                    color: white;
                                }
                            </style>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Bank Configuration Form</h2>
                {% for field in bank_configuration_form %}
                    <div class="form-group row">
                        {% if field.field.widget.input_type == 'checkbox' %}
                            {{ field }} {{ field.label }}
                        {% else %}
                            <label class="col-sm-4 col-form-label">{{ field.label }}</label>
                            <div class="col-sm-8">
                                {{ field }}
                                <style>
                                    #{{ field.auto_id }} {
                                        background-color: #2f516f;
                                        color: white;
                                    }
                                </style>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <h2>Mailing Address Form</h2>
                {% for field in mailing_address_form %}
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">{{ field.label }}</label>
                        <div class="col-sm-8">
                            {{ field }}
                            <style>
                                #{{ field.auto_id }} {
                                    background-color: #2f516f;
                                    color: white;
                                }
                            </style>
                        </div>
                    </div>
                {% endfor %}
            </div> 
        </div> 

        <!-- Additional code -->
        <div class="row">
            <div class="col-md-6">
                <h2>Tax Registration Form</h2> 
                {% for field in banking_details_form %}
                    <div class="form-group row">
                        {% if field.field.widget.input_type == 'checkbox' %}
                            {{ field }} {{ field.label }}
                        {% else %}
                            <label class="col-sm-4 col-form-label">{{ field.label }}</label>
                            <div class="col-sm-8">
                                {{ field }}
                                <style>
                                    #{{ field.auto_id }} {
                                        background-color: #2f516f;
                                        color: white;
                                    }
                                </style>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div> 
        </div> 

        <!-- Submit button -->
        <input type="submit" value="Submit" class="btn btn-primary"> 
    </form> 

    <!-- Custom styles -->
    {# Add custom styles to change the background color of select elements #}
   
</div> 



<!-- JavaScript code -->
<script> 
// Get references to the relevant form fields
let registrationTypeField = document.querySelector('#id_registration_type');
let gstinUnField = document.querySelector('#id_gstin_un');

// Define a function to update the disabled state of the gstin_un field
function updateGstinUnField() {
    if (['consumer', 'unregistered'].includes(registrationTypeField.value)) {
        gstinUnField.disabled = true;
        gstinUnField.value = '';
    } else {
        gstinUnField.disabled = false;
    }
}

// Call the update function when the page loads
updateGstinUnField();

// Add an event listener to the registration_type field to call the update function when its value changes
registrationTypeField.addEventListener('change', updateGstinUnField);



</script>
{% endblock %}
